.container-mots-cles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:98%;
    Padding-left:1%;
    padding-right: 1%;
}

.motCle {
    background:linear-gradient(15deg, rgba(149, 2, 149, 0.82), lightgrey);
    border-radius:5px 0px 5px 0px;
    color:white;
    padding-left:4%;
    padding-right:4%;
    text-align: center;
    font-family:'Montserrat';
    font-size:14px;
    line-height:20px;
    font-weight:500;
    position:relative;


}
@media screen and (max-width:768px) {
    .container-mots-cles {
        width:100%;
        padding-left:0%;
        padding-right: 0%;
    }
    .motCle {
        font-size:10px;
        line-height:14.26px;
    }
}