.projet-page{
    background:url("../../../assets/img/vecteezy_abstract-white-line-background-wall-vector-illustration_7696726.jpg");
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}