@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@400;500&display=swap');
.gallery {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projets {
    text-align: center;
    font-family: "Cormorant";
    color:black;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.galleryCard {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding-top:30px;
    padding-left:2%;
    padding-right:2%;
    background:linear-gradient(45deg, white, lightgrey);
    border-radius: 5px;
    width: 86%;
    height:615px;
}
