@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@400;500&display=swap');
.info-projet-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:90%;
    padding-left: 5%;
    padding-right:5%;
}

.title {
    font-family: 'Tangerine';
    font-size: 30px;
    font-weight:700;
    text-align: center;
}

.display-row {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-mots-cles {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info-projet {
    width:40%;
    height: 200px;
    position:relative;
    bottom:30px;
    border:1px solid darkgray;
    border-radius: 5px 0px 5px 0px;

}
.back-info-projet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    padding-left:5%;
    padding-right: 5%;
    width:90%;
    height:190px;
}
.txt-info-projet {
    width: 90%;
    height:70%;
    border:1px solid darkgray;
}
.aside {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}
.box-info {
    width:100%;
    height:300%;
}