@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@400;500&display=swap');
.info-projet-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-top:2%;
    padding-bottom:5%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Tangerine';
    font-size: 50px;
    font-weight:700;
    text-align: center;
}

.display-row {
    width:70%;
    display: flex;
    padding-top:5%;
    padding-left: 15%;
    padding-right: 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-mots-cles {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px ;
}
.info-projet {
    width:40%;
    height: auto;
    position:relative;
    border:1px solid lightgray;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px 0px 5px 0px;
    background:linear-gradient(45deg, white, lightgrey);

}
.back-info-projet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    padding-left:5%;
    padding-right: 5%;
    width:90%;
    height:100%;
}
.txt-info-projet {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    height:100%;
    font-family: "Cormorant";
    color:purple;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.box-info {
    width:100%;
    height:300%;
}
.container-liens{
    width:86%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:7%;
    padding-right:7%;
}

.liens-list {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.lien {
    list-style: none;
    width:100%;
    text-align: center;
    position:relative;
    margin-top:-17px;
    margin-bottom:-17px;
    margin-left:-15%;
}
.lien-a {
    text-decoration: none;
    font-family: "Cormorant";
    font-style: 18px;
    font-weight: 700;
    color:purple;

}
.lien-a:hover {
    text-decoration: underline;
    color:black;
}
.titre-circle-skill-box {
    text-align:center;
    position: relative;
    margin-top: 150px;
    font-family: 'Cormorant';
    font-size:25px;
    font-weight:600;
}

.container-circle-skill {
    width:70%;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    padding-top:30px;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius:0px 10px 0px 10px;
}
.titre-langage {
    text-align: center;
}
@media screen and (max-width: 768px) {
    .info-projet-box {
        background: white;
        overflow: hidden;
    }
    .info-projet-box { 
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 0%;
        width:100%;
        box-shadow: none;
        border-left:none;
        border-right:none;
    }

    .display-row {
        flex-direction: column;
        height: auto;
        width:100%;
        padding:0px;
    }
    .info-projet {
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
    }
    .container-mots-cles {
        width:100%;
    }
    .back-info-projet {
        position: relative;
        width:92%; 
        height:100%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom:4%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
    }
    .txt-info-projet {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        height:100%;
        text-align: center;
    }
    .liens-list {
        justify-content: center;
        align-items: left;
    }
    .container-circle-skill {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height:700px;
        margin:0;
        padding-top:30px;
        padding-bottom:120px;
        box-shadow: none;
        background: white;
    }
    .titre-circle-skill-box {
        margin-top:30px;
    }
}
