@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@400;500&display=swap');
.container-col {
  display: flex;
  flex-direction: column;
  width:100%;
  margin-bottom: 20px;
}
.wrapInfo {
    margin-left: 2%;
    margin-right: 2%;
    display: block;
  }

  .toggleInfo {
    width: 100%;
    visibility: hidden;
  }
  
  .labelToggleInfo {
    display: flex;
    align-items: center;
    background:linear-gradient(15deg, rgba(149, 2, 149, 0.82), darkgray,rgba(149, 2, 149, 0.82));
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 47px;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .labelTitleInfo {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Cormorant";
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    position: relative;
    left: 2%;
    right: 2%;
  }
  
  .labelToggleInfo::before {
    content: "";
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
  }

  .textInfo {
    background:linear-gradient(45deg, lightgrey, white, rgba(125, 1, 125, 0.321));
    color: purple;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    width: 96%;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
  }
  
  .text-inner-info {
    width: 100%;
  }
  .p-text-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-height:2000px;
  }
  .projets, .certifications, a {
    padding-top: 0px;
    list-style: none;
    color: purple;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    margin-top:0;
    margin-bottom: 0;
  }
  .Lien-collapse{
    position: relative;
    left:10px;
    padding-top: 0px;
    list-style: none;
    color:blueviolet;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    text-align: left;
  }
  .Lien-collapse:hover {
    color:black;
    font-size:16px;
  }

  .toggleInfo:checked + .labelToggleInfo + .textInfo {
    max-height: 2000px;
  }
  
  .toggleInfo:checked + .labelToggleInfo::before {
    transform: rotate 0deg;
  }
  
  .chevron-up {
    transform: rotate(180deg);
  }
  
  .chevron-up, .chevron-down {
    position: relative;
    right: 10px;
    width: 16px;
    height: 10px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .wrapInfo {
      width: 96%;
      margin-top: 30px;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 0%;
    }
    .labelTitleInfo {
      font-size: 16px;
      line-height: 18.5px;
    }
    .projet, .certification {
      font-size: 15px;
      line-height: 20px;
    }
    .projets, .certifications{
      position: relative;
      width: 100%;
      margin-right:2%;
      margin-left: -5%;
      margin-top:0;
      margin-bottom: 0;
    }
  }