.skill {
    margin-bottom: 20px;
    width:100%;
}

.skill-name {
    font-weight: bold;
}

.skill-bar {
    width: 100%;
    background-color: #ccc;
    height: 20px;
    position: relative;
}

.skill-level {
    height: 100%;
    width: 0;
    line-height: 20px;
    text-align: left;
    position: absolute;
    transition: width 1s ease-in-out, background-color 1s ease-in-out;
    background-color: purple;
    color: #fff;
    font-size:17px;
    transition: width 0.5s ease;
}



