@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@400;500 & display=swap');
.AProposPage {
    background:url("../../../assets/img/vecteezy_abstract-white-line-background-wall-vector-illustration_7696726.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:105px;
    padding-bottom:105px;
}
.box {
    position: relative;
    width:80%;
    height:auto;
    left:10%;
    right:10%;
    overflow: hidden;
}

.projets {
    width:100%;
}
.projet {
    width:100%;
    line-height: 34px;
}
.container-skillbar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:3%;
    padding-right: 3%;
    width:70%;
    border:1px solid purple;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px 0px 5px 0px;
    background-color: white;
}

@media  screen and (max-width: 768px){
    .AProposPage {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .box {
        width:100%;
        left:0;
        right:0;
    }
    .projet {
        width:100%;
        margin-left:-3% ;
        margin-right: 3%;
    
    }
    .container-skillbar {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:3%;
        padding-right: 3%;
        width:94%;
        border:none;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    }
}

