.container-icons {
    background:linear-gradient(45deg, lightgrey, white);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    top:30px;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:90%;
    height:100px;
}
i {
    width: 128px;
    font-size:48px;
}
.fa-html5 {
    color:orange;
}
.fa-css3 {
    color:blue;
}
.fa-sass {
    color:purple;
}
.fa-js {
    color:yellow;
}
.fa-react {
    color:aqua;
}
@media screen and (max-width:768px) {
    .container-icons {
        width:100%;
        height:50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    i {
        font-size:24px;
    }
}