@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.footer {
        width:100%;
        height:100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(45deg, black, lightgrey);
        border-top: 1px solid black;
}

.link-page, .mailto {
    color:white;
    font-size:30px;
    text-decoration: none;
}
.link-page {
    font-family: "Tangerine";
    font-weight: 700;
    font-size: 40px;
}
.mailto{
    font-family: "Cormorant";
    font-weight: 400;
    font-size:25px;
    position:relative;
    margin-top:10px;
}
.link-page:hover, .mailto:hover {
    color: lightgrey;
}
@media screen and (max-width:768px) {
    .footer {
        height:150px;
    }
}