.slider {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: block;
    position:relative;
    margin-top: 0px; 
    width: 50%;
    height:315px;
    background: white;
    overflow: hidden;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}
.slides {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width:99%;
    height:315px;
    z-index: 1;
}

.imgSlider {
    position:absolute;
    width:100%;
    height:315px;
    object-fit:contain;
    border-radius:5px;
}
.active {
    display:block;
}
.containerArrows {
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.left {
    text-align: center;
    width:10%;
    position:absolute;
    left:2%;
    font-size:40px;
    font-weight: 700;
    color: purple;
}
.right {
    text-align: center;
    width:10%;
    position:absolute;
    right:2%;
    font-size:40px;
    font-weight: 700;
    color: purple;
}
.counterSlide {
    display:flex;
    justify-content: center;
    position:relative;
    left:auto;
    right:auto;
    top: 92%;
    width:100%;
    height:20px;
    z-index: 3;
}
.count {
    font-family:'Cormorant';
    font-size:19px;
    font-weight: 500;
    line-height: 25.6px;
    color:black;
    text-align: center;
    width:5%;
    z-index: 4;
}
@media screen and (max-width:768px) {
    .slider {
        width:100%;
        height:255px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .slides {
        width:99.8%;
        height:100%;
        overflow: hidden;
    }
    .imgSlider {
        border-radius: 5px;
        height:93.8%;
        object-fit: contains;
    }
    .counterSlide, .count {
        display:none;
    }
}
